## Create a lambda function that takes two arguments and returns their sum.

In [1]:
sum= lambda x,y: x+y
sum(10,20)

30

## Create another lambda function that takes a single argument and returns its square.

In [2]:
square = lambda x: x**2
square(10)

100

## Use the lambda functions to calculate the sum and square of various numbers and print the results.

In [1]:
c= lambda *n : sum(n)

In [2]:
c(1,2,3,4)

10

In [3]:
list(map(lambda n:n**2 , list(range(1,10))))  ## using range method

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
list1 = [1,2,3,4,5,6,7]                     #using list of various numbers
list(map(lambda n : n**2  , list1))

[1, 4, 9, 16, 25, 36, 49]

## 2)Define a list of integers.

## a) Use the filter function to create a new list that contains only the even numbers from the original list.

In [13]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [14]:
def even(n):
    if n % 2 == 0:
        return n

In [15]:
list(filter(even,list1))

[2, 4, 6, 8, 10, 12, 14]

## b) Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.

In [16]:
def num(n):
    if n>10:
        return n

In [17]:
list(filter(num,list1))

[11, 12, 13, 14]

## c) Print both filtered lists.

In [18]:
list(filter(even,list1)) + list(filter(num,list1))

[2, 4, 6, 8, 10, 12, 14, 11, 12, 13, 14]

## Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).
a) Use the map function to convert each string to an integer and store the result in a new list.

In [22]:
n = ["1","2","3","4","5","6"]

In [23]:
def st(n):
    if type(n)== str:
        return int(n)

In [24]:
newlist = list(map(st,n))

In [25]:
newlist

[1, 2, 3, 4, 5, 6]

## b) Use the map function again to square each integer in the new list and store the result in another new list.

In [26]:
def square(n):
    return n**n

In [27]:
newlist1 = list(map(square,newlist))

In [28]:
newlist1

[1, 4, 27, 256, 3125, 46656]

## c) Print both new lists.

In [29]:
newlist + newlist1

[1, 2, 3, 4, 5, 6, 1, 4, 27, 256, 3125, 46656]

### 4)Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age".

### Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]

### a) Use the filter function to create a new list that contains only the people who are older than 25.

In [3]:
dict1 = [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25},{"name": "Aishu", "age": 26}, {"name": "Barbie", "age": 28}]

In [10]:
def people(dict1):
    if dict1["age"] > 25:
        return(dict1)

In [11]:
a_25 = list(filter(people,dict1))

In [12]:
a_25

[{'name': 'Alice', 'age': 30},
 {'name': 'Aishu', 'age': 26},
 {'name': 'Barbie', 'age': 28}]

## b) Use the map function to create a new list that contains the names of the filtered people.

In [13]:
def names_fp(dict1):
    return {"name":dict1["name"]}

In [14]:
selectednames = list(map(names_fp,a_25))

In [15]:
selectednames

[{'name': 'Alice'}, {'name': 'Aishu'}, {'name': 'Barbie'}]

### 5)Create a program that reads a list of numbers from the user (you can use the input function for this).

### Use map and filter functions to perform the following operations:

### a) Square each number.

### b) Filter out numbers that are not divisible by 3.

In [1]:
def sq(n):
    return n**2

In [2]:
list1 = []
n= int(input("how many integers do you want to enter:: "))
for i in range(1,n+1):
    a= int(input("enter a number: "))
    list1.append(a)
    
print(list1)

how many integers do you want to enter:: 4
enter a number: 1
enter a number: 2
enter a number: 3
enter a number: 4
[1, 2, 3, 4]

In [5]:
list(map(sq,list1))

[1, 4, 9, 16]

In [6]:
def n3(n):
    if n%3 != 0:
        print(n)

In [7]:
list(filter(n3,list1))

1
2
4

[]